-
  var title = 'Sea of Green Starter Kit'
  var description = 'Sea of Green Hydrogardens offers the best deals on high-quality gardening supplies & tools.'
  var keywords = 'gardening, hydroponics, soil, hydro, garden, gardens, hid, lighting, coco, coco coir, grow, growing, hydroponic'
